tqdm
sympy
scipy
torch_scatter
# https://storage.googleapis.com/open3d-releases-master for cp310
open3d
omegaconf
pykdtree
ninja
# 1.7.x may also work but we want to ensure reproducibility
pytorch_lightning==1.3.8
